<!DOCTYPE html>
<html>
    {% include "head.html.twig" %}
    <body>
    <div class="grid-container">
        {# {% include "navigation.html.twig" %} #}
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
